:root {
  --color-primary: #0b0d12;
  --color-secondary: #7856ff;
  --color-secondary-2: #6c4de6;
  --color-secondary-3: #947fe4;
  --color-white: #ffffff;
  --color-grey: #808080;
  --color-grey-0: #faf9f9;
  --color-grey-1: #f4f2f2;
  --color-grey-2: #f0eeee;
  --color-grey-3: #cccccc;
  --color-grey-4: #999999;
  --color-grey-5: #777777;
  --color-grey-6: #222222;
  --color-black: #000000;
  --color-footer: #000000;
  --br-sm-2: 0.2rem;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 5px 15px 3px rgba(255, 255, 255, 0.2);

  --color-rebecca-purple: rebeccapurple; // #663399 <3

  --color-dark-orange-les: #d52d00;
  --color-orange-les: #ef7627;
  --color-light-orange-les: #ff9a56;
  // --color-white-les: #ffffff;
  --color-pink-les: #d162a4;
  --color-dusty-pink-les: #b55690;
  --color-dark-rose-les: #a30262;

  --color-blue-trans: #5bcefa;
  --color-pink-trans: #f5a9b8;
  // --color-white-trans: #ffffff;
  // --color-pink-trans: #f5a9b8;
  // --color-blue-trans: #5bcefa;

  // --color-black-ace: #000000;
  --color-grey-ace: #a3a3a3;
  // --color-white-ace: #ffffff;
  --color-purple-ace: #800080;

  --color-yellow-nb: #fcf434;
  // --color-white-nb: #ffffff;
  --color-purple-nb: #9c59d1;
  --color-black-nb: #2c2c2c;
}

.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #6c4de6;
  --color-secondary-2: #7856ff;
  --color-white: #000000;
  --color-grey-0: #222222;
  --color-grey-1: #2f2f2f;
  --color-grey-2: #7e7e7e;
  --color-grey-3: #cccccc;
  --color-grey-4: #b1b1b1;
  --color-grey-5: #808080;
  --color-grey-6: #cfcfcf;
  --color-black: #ffffff;
  --color-footer: #808080;
}
