//  Contact
.contact-content-con {
  display: flex;
  padding-top: 3.5rem;

  h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  .left-contact {
    flex: 2;
    h4 {
      margin-top: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
    }
    p {
      margin: 1rem 0;
      line-height: 2rem;
    }
    .contact-info {
      .contact-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 0.3rem 0;
          padding: 0;
        }
        .icon {
          display: grid;
          grid-template-columns: 30px 1fr;
          i {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }
    }
    .contact-icon {
      display: flex;
      margin-top: 1.5rem;
      justify-content: center;
      a {
        display: flex;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-grey-6);
        cursor: pointer;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 0.4rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          background-color: var(--color-secondary);
          i {
            color: var(--color-primary);
          }
        }
        i {
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  //   .right-contact {
  //     flex: 3;
  //     margin-left: 3rem;
  //     .input-control {
  //       margin: 1.5rem 0;
  //       input,
  //       textarea {
  //         border-radius: 30px;
  //         font-weight: inherit;
  //         font-size: inherit;
  //         font-family: inherit;
  //         padding: 0.8rem 1.1rem;
  //         outline: none;
  //         border: 1px solid var(--color-secondary);
  //         background-color: var(--color-grey-6);
  //         width: 100%;
  //         color: var(--color-white);
  //         resize: none;
  //       }
  //     }
  //     .i-c-2 {
  //       display: flex;
  //       :last-child {
  //         margin-left: 1.5rem;
  //       }
  //     }
  //     .submit-btn {
  //       display: flex;
  //       justify-content: flex-start;
  //     }
  //   }
}
