// Header
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  .left-header {
    display: flex;
    align-items: center;
    position: relative;
    .h-shape {
      transition: all 0.4s ease-in-out;
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    }
    .image {
      border-radius: var(--br-sm-2);
      height: 60%;
      width: 50%;
      margin-left: 4rem;
      margin-right: 1rem;
      transition: all 0.4s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.4s ease-in-out;
        border-radius: 25px;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }

  .right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    padding-top: 2rem;

    animation: scaleAnim 0.8s ease-in-out;
    @keyframes scaleAnim {
      0% {
        transform: translateY(-100%) scaleY(0);
      }
      100% {
        transform: translateY(0) scaleY(1);
      }
    }

    .name {
      font-size: 3rem;
      span {
        color: var(--color-secondary);
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 3rem;
    }
  }
}
